<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="grid.css">
</head>
<script src="https://kit.fontawesome.com/6b52d0ce66.js" crossorigin="anonymous"></script>

<body>
    <div class="main_div">
        <nav class="header">
            <div class="name_heading">
                <h1>CheckMate-UI</h1>
                <a class="head_link" href="/index.html">Home</a>
                <a class="head_link" href="#">Documentation</a>
            </div>
            <div class="contact_links">
                <a class="head_link" href="https://github.com/NamrataRaikwar2002"><i class="fab fa-github"></i></a>
                <a class="head_link" href="https://www.linkedin.com/in/namrata-raikwar-727951224/"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </nav>
        <div class="drawer_component">
            <div class="component_list">
                <h2>Getting started</h2>
                <a href="/components/instalation/instalation.html" class="component_item">Installation</a>
                <h2>Components</h2>
                <a href="/components/avatar/avatar.html" class="component_item">Avatar</a>
                <a href="/components/alert/alert.html" class="component_item">Alert</a>
                <a href="/components/badge/badge.html" class="component_item">Badge</a>
                <a href="/components/button/button.html" class="component_item">Button</a>
                <a href="/components/card/card.html" class="component_item">Card</a>
                <a href="/components/image-component/image.html" class="component_item">Image</a>
                <a href="/components/input/input.html" class="component_item">Input</a>
                <a href="/components/list/list.html" class="component_item">List</a>
                <a href="/components/snackbar/snackbar.html" class="component_item">Snackbar</a>
                <a href="/components/grid/grid.html" class="component_item">Simplified Grid</a>
            </div>
            <main class="all_grid">
                <h1 class="components_heading">Grid simplified</h1>
                <p>Grid is a two dimensional layout system for web.You can easily design websites using grid, without using float and positioning. </p>
                <h2>Grid Columns</h2>
                <p>For vetically layout you can use <span>grid-colomn</span> property. Here for two column item grid you can use class <span>twoItem_grid</span> and for three items use <span>threeItem_grid.</span></p>
                <div class="grid_colomns components_border">

                    <p>With two items</p>
                    <section class="twoItem_grid">
                        <div class="grid">
                            item1
                        </div>
                        <div class="grid">
                            item2
                        </div>
                    </section>
                    
                    <p>With three items</p>
                    <section class="threeItem_grid">
                        <div class="grid">
                            item1
                        </div>
                        <div class="grid">
                            item2
                        </div>
                        <div class="grid">item3</div>
                    </section>
                </div>
                <iframe class="carbon_code"
  src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520for%2520two%2520column%2520item%2520--%253E%250A%253Csection%2520class%253D%2522twoItem_grid%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid%2522%253Eitem1%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid%2522%253Eitem2%253C%252Fdiv%253E%250A%253C%252Fsection%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
<iframe class="carbon_code"
  src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520for%2520three%2520column%2520items%2520--%253E%250A%253Csection%2520class%253D%2522threeItem_grid%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid%2522%253Eitem1%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid%2522%253Eitem2%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid%2522%253Eitem3%253C%252Fdiv%253E%250A%253C%252Fsection%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
                <h2>Grid Rows</h2>
                <p> horizontal layout you can use <span>grid-row</span> property. For two row grid item you can use class <span>twoItem_rows_grid</span> and for three row grid items use <span>threeItem_rows_grid</span>.</p>
                <div class="grid_rows components_border">
                    <p>With two items</p>
                    <section class="twoItem_rows_grid">
                        <div class="grid">
                            item1
                        </div>
                        <div class="grid">
                            item2
                        </div>
                    </section>
                    <p>With three items</p>
                    <section class="threeItem_rows_grid">
                        <div class="grid">
                            item1
                        </div>
                        <div class="grid">
                            item2
                        </div>
                        <div class="grid">item3</div>
                    </section>
                </div>
                <iframe class="carbon_code"
  src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520for%2520two%2520row%2520items%2520--%253E%250A%253Csection%2520class%253D%2522twoItem_rows_grid%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid%2522%253Eitem%253C%252Fdiv%253E%250A%2509%253Cdiv%2520class%253D%2522grid%2522%253Eitem2%253C%252Fdiv%253E%250A%253C%252Fsection%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
<iframe class="carbon_code"
  src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520for%2520three%2520row%2520items%2520--%253E%250A%253Csection%2520class%253D%2522threeItem_rows_grid%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid%2522%253Eitem1%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid%2522%253Eitem2%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid%2522%253Eitem3%253C%252Fdiv%253E%250A%253C%252Fsection%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </main>
        </div>
    </div>

</body>

</html>