:root {
    --primary-color: #2563eb;
    --hover-color: #2563eb;
    --backgroundhover-color: #cbd5e1;
    --border-color: #94a3b8;
    --bg-color: #f1f5f9;
    --shadow-color: #94a3b8;
    --btnPghover-color: #1f51bd;

}