<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="input.css">
</head>
<script src="https://kit.fontawesome.com/6b52d0ce66.js" crossorigin="anonymous"></script>

<body>
    <div class="main_div">
        <nav class="header">
            <div class="name_heading">
                <h1>CheckMate-UI</h1>
                <a class="head_link" href="/index.html">Home</a>
                <a class="head_link" href="#">Documentation</a>
            </div>
            <div class="contact_links">
                <a class="head_link" href="https://github.com/NamrataRaikwar2002"><i class="fab fa-github"></i></a>
                <a class="head_link" href="https://www.linkedin.com/in/namrata-raikwar-727951224/"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </nav>
        <div class="drawer_component">
            <div class="component_list">
                <h2>Getting started</h2>
                <a href="/components/instalation/instalation.html" class="component_item">Installation</a>
                <h2>Components</h2>
                <a href="/components/avatar/avatar.html" class="component_item">Avatar</a>
                <a href="/components/alert/alert.html" class="component_item">Alert</a>
                <a href="/components/badge/badge.html" class="component_item">Badge</a>
                <a href="/components/button/button.html" class="component_item">Button</a>
                <a href="/components/card/card.html" class="component_item">Card</a>
                <a href="/components/image-component/image.html" class="component_item">Image</a>
                <a href="/components/input/input.html" class="component_item">Input</a>
                <a href="/components/list/list.html" class="component_item">List</a>
                <a href="/components/snackbar/snackbar.html" class="component_item">Snackbar</a>
                <a href="/components/grid/grid.html" class="component_item">Simplified Grid</a>
            </div>
            <div class="all_input">
                <h1 class="components_heading">Input</h1>
                <p>Input are use to collect the user 's data, user can enter data in it.It creates the interactive
                    environment with the user. </p>
                <h2>Input textbox</h2>
                <p>Here you can write any text. For text type input you can use <span>type:"text"</span> or you can just
                    copy paste the below code. For input styling you can use class <span>input</span>.</p>
                <section class="text_section components_border">
                    <p class="username">Username</p>
                    <input class="input" type="text" placeholder="Enter username">

                </section>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cinput%2520class%253D%2522input%2522%2520type%253D%2522text%2522%2520placeholder%253D%2522Enter%2520%2509%2520%2520%2520username%2522%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <h2>Validation input</h2>
                <p>For validagtion input you can use the class <span>input</span> and <span> validation_input</span>.
                </p>
                <section class="validation_section components_border">
                    <p class="password_error">Password</p>
                    <input class="input validation_input" type="text" placeholder="password">
                    <p class="password_error">Incorrect login Id or password! Please try again!</p>


                </section>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cinput%2520class%253D%2522input%2520validation_input%2522%2520type%253D%2522text%2522%2520%2520placeholder%253D%2522password%2522%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
</body>

</html>