<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="button.css">
</head>
<script src="https://kit.fontawesome.com/6b52d0ce66.js" crossorigin="anonymous"></script>

<body>
    <div class="main_div">
        <nav class="header">
            <div class="name_heading">
                <h1>CheckMate-UI</h1>
                <a class="head_link" href="/index.html">Home</a>
                <a class="head_link" href="/components/instalation/instalation.html">Documentation</a>
            </div>
            <div class="contact_links">
                <a class="head_link" href="https://github.com/NamrataRaikwar2002"><i class="fab fa-github"></i></a>
                <a class="head_link" href="https://www.linkedin.com/in/namrata-raikwar-727951224/"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </nav>
        <div class="drawer_component">
            <div class="component_list">
                <h2>Getting started</h2>
                <a href="/components/instalation/instalation.html" class="component_item">Installation</a>
                <h2>Components</h2>
                <a href="/components/avatar/avatar.html" class="component_item">Avatar</a>
                <a href="/components/alert/alert.html" class="component_item">Alert</a>
                <a href="/components/badge/badge.html" class="component_item">Badge</a>
                <a href="/components/button/button.html" class="component_item">Button</a>
                <a href="/components/card/card.html" class="component_item">Card</a>
                <a href="/components/image-component/image.html" class="component_item">Image</a>
                <a href="/components/input/input.html" class="component_item">Input</a>
                <a href="#" class="component_item">List</a>
                <a href="#" class="component_item">Snackbar</a>
                <a href="#" class="component_item">Simplified Grid</a>
            </div>
            <div class="all_button">
                <h1 class="components_heading">Button</h1>
                <p>Buttons allow users to take actions, and make choices. There are different types of buttons.
                </p>
                <h2>Primary Button</h2>
                <p>Use primary button when you want user to click on it.For primary button you can use class
                    <span>primary_btn,</span> for outline primary button you can use <span>primary_outline</span> and
                    for primary button link use <span>primary_link.</span></p>
                <div class="primarybtn_div">
                    <button class="btn primary_btn">Primary</button>
                    <button class="btn primary_outline">Primary outline</button>
                    <button class=" btn primary_link">Primary link</button>
                </div>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520primary_btn%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520primary_outline%2522%253EPrimary%2520outline%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522%2520btn%2520primary_link%2522%253EPrimary%2520link%253C%252Fbutton%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <h2>Secondary Button</h2>
                <p>If you want user not to get attracted by the button then you can use secondary button.For secondary
                    button you can use class <span>secondary_btn</span> and for outline <span>secondary_outline.</span>
                </p>
                <div class="secondatybtn_div">
                    <button class="btn secondary_btn">Secondary</button>
                    <button class="btn secondary_outline">Secondary outline</button>
                </div>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520secondary_btn%2522%253ESecondary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520secondary_outline%2522%253ESecondary%2520outline%253C%252Fbutton%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <h2>Icon Button</h2>
                <p>Icon button allow users to take action and make choice easily. For icon button you can use class
                    <span>btn</span> and then For delete icon button you can use class<span> delete.</span> like wise
                    for bookmark <span>bookmark.</span></p>
                <div class="iconbtn_div">
                    <button class="btn delete"><i class="far fa-trash-alt"></i>Delete</button>
                    <button class="btn bookmark"><i class="far fa-bookmark"></i>Bookmark</button>
                </div>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=616&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522add_icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-plus%2522%253E%253C%252Fi%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522pen_icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-pen%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <h2>Floating Action Button</h2>
                <p>Floating Action Button used for used to the task as common.For add icon button you can use class
                    <span>add_icon</span> and for pen use <span>pen_icon</span></p>
                <div class="floatbtn_div">
                    <button class="add_icon">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button class="pen_icon">
                        <i class="fas fa-pen"></i>
                    </button>
                </div>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=616&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522add_icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-plus%2522%253E%253C%252Fi%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522pen_icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-pen%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
    </div>
</body>

</html>