<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="image.css">
</head>
<script src="https://kit.fontawesome.com/6b52d0ce66.js" crossorigin="anonymous"></script>

<body>
    <div class="main_div">
        <nav class="header">
            <div class="name_heading">
                <h1>CheckMate-UI</h1>
                <a class="head_link" href="/index.html">Home</a>
                <a class="head_link" href="#">Documentation</a>
            </div>
            <div class="contact_links">
                <a class="head_link" href="https://github.com/NamrataRaikwar2002"><i class="fab fa-github"></i></a>
                <a class="head_link" href="https://www.linkedin.com/in/namrata-raikwar-727951224/"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </nav>
        <div class="drawer_component">
            <div class="component_list">
                <h2>Getting started</h2>
                <a href="/components/instalation/instalation.html" class="component_item">Installation</a>
                <h2>Components</h2>
                <a href="/components/avatar/avatar.html" class="component_item">Avatar</a>
                <a href="/components/alert/alert.html" class="component_item">Alert</a>
                <a href="/components/badge/badge.html" class="component_item">Badge</a>
                <a href="/components/button/button.html" class="component_item">Button</a>
                <a href="/components/card/card.html" class="component_item">Card</a>
                <a href="/components/image-component/image.html" class="component_item">Image</a>
                <a href="/components/input/input.html" class="component_item">Input</a>
                <a href="/components/list/list.html" class="component_item">List</a>
                <a href="/components/snackbar/snackbar.html" class="component_item">Snackbar</a>
                <a href="/components/grid/grid.html" class="component_item">Simplified Grid</a>
            </div>
            <div class="all_images">
                <h1 class="components_heading">Image</h1>
                <p>Images are very important part of a webpage. It can be of different types. It can be responsive and
                    round shap.</p>
                <h2>Responsive Image</h2>
                <p>These images are those images that can work on different devices.For responsive image you can use
                    class <span>responsive_img</span>.</p>
                <section class="responsiveimg_section components_border">
                    <img src="/components/images/avatar1.jpg" class="img_img reponsive_img">
                </section>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522%252Fcomponents%252Fimages%252Favatar1.jpg%2522%2520class%253D%2522img_img%2520reponsive_img%2522%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <h2>Round Image</h2>
                <p>Round images can be use for avatars. For round image you can use class <span>round_img
                    </span>.</p>
                <section class="roundimg_section components_border">
                    <img src="/components/images/avatar1.jpg" class="img_img round_img">
                </section>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520src%253D%2522%252Fcomponents%252Fimages%252Favatar1.jpg%2522%2520%2509%2509%2520%2520%2520%2520class%253D%2522img_img%2520round_img%2522%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
    </div>
</body>

</html>