<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>utilities</title>
    <link rel="stylesheet" href="utilities.css">
    <script src="https://kit.fontawesome.com/8ddd15368f.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="main_div">
        <nav class="header">
            <div class="name_heading">
                <h1>CheckMate-UI</h1>
                <a class="head_link" href="/index.html">Home</a>
                <a class="head_link" href="#">Documentation</a>
            </div>
            <div class="contact_links">
                <a class="head_link" href="https://github.com/NamrataRaikwar2002"><i class="fab fa-github"></i></a>
                <a class="head_link" href="https://www.linkedin.com/in/namrata-raikwar-727951224/"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </nav>
        <div class="drawer_component">
            <div class="component_list">
                <h2>Getting started</h2>
                <a href="/components/instalation/instalation.html" class="component_item">Installation</a>
                <h2>Components</h2>
                <a href="/components/avatar/avatar.html" class="component_item">Avatar</a>
                <a href="/components/alert/alert.html" class="component_item">Alert</a>
                <a href="/components/badge/badge.html" class="component_item">Badge</a>
                <a href="/components/button/button.html" class="component_item">Button</a>
                <a href="/components/card/card.html" class="component_item">Card</a>
                <a href="/components/image-component/image.html" class="component_item">Image</a>
                <a href="/components/input/input.html" class="component_item">Input</a>
                <a href="/components/list/list.html" class="component_item">List</a>
                <a href="/components/snackbar/snackbar.html" class="component_item">Snackbar</a>
                <a href="/components/grid/grid.html" class="component_item">Simplified Grid</a>
                <a href="/components/navbar/navbar.html" class="component_item">Navigation</a>
                <a href="/components/rating/rating.html" class="component_item">Rating</a>
                <a href="/components/utilities/utilities.html" class="component_item">Text Utilities</a>
                <a href="/components/modal/modal.html" class="component_item">Modal</a>
            </div>
            <main class="all_utilities">
                <h1 class="components_heading">Text Utilities</h1>
                <p>Text utilities are used for text alignment, different types of style, font size.</p>
                <h2>Headings</h2>
                <p>You can use heading tag. Copy paste the code below and use it.</p>
                <div class="components_border headings">
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                </div>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Ch1%253EHeading%25201%253C%252Fh1%253E%250A%2520%2520%253Ch2%253EHeading%25202%253C%252Fh2%253E%250A%2520%2520%253Ch3%253EHeading%25203%253C%252Fh3%253E%250A%2520%2520%253Ch4%253EHeading%25204%253C%252Fh4%253E%250A%2520%2520%253Ch5%253EHeading%25205%253C%252Fh5%253E%250A%2520%2520%253Ch6%253EHeading%25206%253C%252Fh6%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <h2>Font size</h2>
                <p>You can use different size of text.you can use class <span>font_size</span>.</p>
                <div class="components_border fonts">
                    <p class="font_size"> Font size 6</p>
                    <p class="font_size"> Font size 5</p>
                    <p class="font_size"> Font size 4</p>
                    <p class="font_size"> Font size 3</p>
                    <p class="font_size"> Font size 2</p>
                    <p class="font_size"> Font size 1</p>
                </div>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522font_size%2522%253E%2520Font%2520size%25206%253C%252Fp%253E%250A%253Cp%2520class%253D%2522font_size%2522%253E%2520Font%2520size%25205%253C%252Fp%253E%250A%253Cp%2520class%253D%2522font_size%2522%253E%2520Font%2520size%25204%253C%252Fp%253E%250A%253Cp%2520class%253D%2522font_size%2522%253E%2520Font%2520size%25203%253C%252Fp%253E%250A%253Cp%2520class%253D%2522font_size%2522%253E%2520Font%2520size%25202%253C%252Fp%253E%250A%253Cp%2520class%253D%2522font_size%2522%253E%2520Font%2520size%25201%253C%252Fp%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <h2>Alignment</h2>
                <p>You can easily realign text usind classes for left align use<span> left_align</span>, for center use
                    <span> center_align</span> and use <span> right_align</span> for right align. </p>
                <div class="components_border align_div">
                    <div class="alignment">
                        <p class="align_item left_align"> Left Align</p>
                        <p class="align_item center_align">Center Align</p>
                        <p class="align_item right_align">Right Align</p>
                    </div>
                </div>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522align_item%2520left_align%2522%253E%2520Left%2520Align%253C%252Fp%253E%250A%253Cp%2520class%253D%2522align_item%2520center_align%2522%253ECenter%2520Align%253C%252Fp%253E%250A%253Cp%2520class%253D%2522align_item%2520right_align%2522%253ERight%2520Align%253C%252Fp%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </main>
        </div>
    </div>
</body>

</html>