<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="icon"type="image" href="/components/images/Chess.ico">
    <link rel="stylesheet" href="navbar.css">
    <script src="https://kit.fontawesome.com/8ddd15368f.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="main_div">
        <nav class='header sticky_nav'>
            <div class="name_heading">
                <h1>CheckMate-UI</h1>
                <a class="head_link" href="/index.html">Home</a>
                <a class="head_link" href="#">Documentation</a>
            </div>
            <div class="contact_links">
                <a class="head_link" href="https://github.com/NamrataRaikwar2002/component_libarary"><i class="fab fa-github"></i></a>
                <a class="head_link" href="https://www.linkedin.com/in/namrata-raikwar-727951224/"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </nav>
        <div class="drawer_component">
            <div class="component_list">
                <h2>Getting started</h2>
                <a href="/components/instalation/instalation.html" class="component_item">Installation</a>
                <h2>Components</h2>
                <a href="/components/avatar/avatar.html" class="component_item">Avatar</a>
                <a href="/components/alert/alert.html" class="component_item">Alert</a>
                <a href="/components/badge/badge.html" class="component_item">Badge</a>
                <a href="/components/button/button.html" class="component_item">Button</a>
                <a href="/components/card/card.html" class="component_item">Card</a>
                <a href="/components/image-component/image.html" class="component_item">Image</a>
                <a href="/components/input/input.html" class="component_item">Input</a>
                <a href="/components/list/list.html" class="component_item">List</a>
                <a href="/components/snackbar/snackbar.html" class="component_item">Snackbar</a>
                <a href="/components/grid/grid.html" class="component_item">Simplified Grid</a>
                <a href="/components/navbar/navbar.html" class="component_item">Navigation</a>
                <a href="/components/rating/rating.html" class="component_item">Rating</a>
                <a href="/components/utilities/utilities.html" class="component_item">Text Utilities</a>
                <a href="/components/modal/modal.html" class="component_item">Modal</a>
                <a href="/components/slider/slider.html" class="component_item">Slider</a>
                <a href="/components/hamburger/hamburger.html" class="component_item">Hamburger</a>

            </div>
            <main class="all_navbar">
                <h1 class="components_heading">Navbar</h1>
                <p>Navbars contains the links of other part of the website.</p>
                <h2>Example</h2>
                <p>This Navbar contains the different options for the user. You can user class <span> navigation</span>.
                </p>
                <div class="components_border">
                    <nav class="navigation">
                        <h2>Website</h2>
                        <aside class="nav_icon">
                            <button class="nav_login_btn">Login</button>
                            <i class="far fa-heart"></i>
                            <i class="fas fa-shopping-cart icon_cart"></i>
                            <p>Cart</p>
                        </aside>
                    </nav>
                </div>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cnav%2520class%253D%2522navigation%2522%253E%250A%2520%2520%253Ch2%253EWebsite%253C%252Fh2%253E%250A%2520%2520%253Caside%2520class%253D%2522nav_icon%2522%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522nav_login_btn%2522%253ELogin%253C%252Fbutton%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522far%2520fa-heart%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2520icon_cart%2522%253ECart%253C%252Fi%253E%250A%2520%2520%2520%253C%252Faside%253E%250A%253C%252Fnav%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </main>

        </div>
    </div>
</body>

</html>