<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="avatar.css">
</head>
<script src="https://kit.fontawesome.com/6b52d0ce66.js" crossorigin="anonymous"></script>

<body>
    <div class="main_div">
    <nav class="header">
        <div class="name_heading">
            <h1>namruUI</h1>
            <a class="head_link" href="#">Home</a>
            <a class="head_link" href="#">Documentation</a>
        </div>
        <div class="contact_links">
            <a class="head_link" href="#"><i class="fab fa-github"></i></a>
            <a class="head_link" href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </nav>
<div class="drawer_component">
    <div class="component_list">
        <h2>Getting started</h2>
        <a href="#" class="component_item">Instalation</a>
        <h2>Components</h2>
        <a href="#Avatar" class="component_item">Avatar</a>
        <a href="#" class="component_item">Alert</a>
        <a href="#" class="component_item">Badge</a>   
        <a href="#" class="component_item">Button</a>
        <a href="#" class="component_item">Card</a>
        <a href="#" class="component_item">Image</a>
        <a href="#" class="component_item">Input</a>
        <a href="#" class="component_item">Text Utilities</a>
        <a href="#" class="component_item">List</a>
        <a href="#" class="component_item">Navigation</a>
        <a href="#" class="component_item">Modal</a>
        <a href="#" class="component_item">Rating</a>
        <a href="#" class="component_item">Snackbar</a>
        <a href="#" class="component_item">Simplified Grid</a>
    </div>
    <section class="component_page" id="Avatar">
        <h1 class="avatar_head">Avatar</h1>
        <p>Avatar is used to create profile picture.</p>
        <h2>Different sizes of image Avatar</h2>
        <div>
            <img class="avatar_img large_img" src="images/avatar1.jpg">
            <img class="avatar_img medium_img" src="images/avatar1.jpg">
            <img class="avatar_img small_img" src="images/avatar1.jpg">
            <img class="avatar_img xs_img" src="images/avatar1.jpg">
        </div>
        <iframe class="avatar_code"
        src="https://carbon.now.sh/embed?bg=rgba%28226%2C232%2C239%2C1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar_img%2520large_img%2522%2520src%253D%2522images%252Favatar1.jpg%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar_img%2520medium_img%2522%2520src%253D%2522images%252Favatar1.jpg%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar_img%2520small_img%2522%2520src%253D%2522images%252Favatar1.jpg%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar_img%2520xs_img%2522%2520src%253D%2522images%252Favatar1.jpg%2522%253E%250A%253C%252Fdiv%253E"
        style="border:0; transform: scale(1); overflow:hidden;">
      </iframe>
      <h2 class="text_avatar_head">Different sizes of image Avatar</h2>
      <div class="text_avatar">
        <div class="avatar_img large_img" role="img"><p class="text1 text">AB</p></div>
        <div class="avatar_img medium_img" ><p class="text2 text">AB</p></div>
        <div class="avatar_img small_img" ><p class="text3 text">AB</p></div>
        <div class="avatar_img xs_img"><p class="text4 text">AB</p></div>
    </div>


    </section>
    
    
    </div>
</div>


</body>

</html>













