<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal</title>
    <link rel="icon"type="image" href="/components/images/Chess.ico">
    <link rel="stylesheet" href="modal.css">
    <script src="https://kit.fontawesome.com/8ddd15368f.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="main_div">
        <nav class="header">
            <div class="name_heading">
                <h1>CheckMate-UI</h1>
                <a class="head_link" href="/index.html">Home</a>
                <a class="head_link" href="#">Documentation</a>
            </div>
            <div class="contact_links">
                <a class="head_link" href="https://github.com/NamrataRaikwar2002/component_libarary"><i class="fab fa-github"></i></a>
                <a class="head_link" href="https://www.linkedin.com/in/namrata-raikwar-727951224/"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </nav>
        <div class="drawer_component">
            <div class="component_list">
                <h2>Getting started</h2>
                <a href="/components/instalation/instalation.html" class="component_item">Installation</a>
                <h2>Components</h2>
                <a href="/components/avatar/avatar.html" class="component_item">Avatar</a>
                <a href="/components/alert/alert.html" class="component_item">Alert</a>
                <a href="/components/badge/badge.html" class="component_item">Badge</a>
                <a href="/components/button/button.html" class="component_item">Button</a>
                <a href="/components/card/card.html" class="component_item">Card</a>
                <a href="/components/image-component/image.html" class="component_item">Image</a>
                <a href="/components/input/input.html" class="component_item">Input</a>
                <a href="/components/list/list.html" class="component_item">List</a>
                <a href="/components/snackbar/snackbar.html" class="component_item">Snackbar</a>
                <a href="/components/grid/grid.html" class="component_item">Simplified Grid</a>
                <a href="/components/navbar/navbar.html" class="component_item">Navigation</a>
                <a href="/components/rating/rating.html" class="component_item">Rating</a>
                <a href="/components/utilities/utilities.html" class="component_item">Text Utilities</a>
                <a href="/components/modal/modal.html" class="component_item">Modal</a>
                <a href="/components/slider/slider.html" class="component_item">Slider</a>
                <a href="/components/hamburger/hamburger.html" class="component_item">Hamburger</a>
            </div>
            <main class="all_modal">
                <h1 class="components_heading">Modal</h1>
                <p>A modal is a popup box that displays at the top of the window.It is also called dialog box.</p>
                <h2>Example</h2>
                <p>For modal you can use classes <span>basic_modal</span> and for button style use modal_btn</p>
                <div class="components_border">
                    <section class="basic_modal">
                        <h3>Modal title</h3>
                        <p>Modal body text</p>
                        <footer>
                            <button class="modal_btn">Close</button>
                            <button class="modal_btn">Save changes</button>
                        </footer>
                    </section>
                </div>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Csection%2520class%253D%2522basic_modal%2522%253E%250A%2520%2520%253Ch3%253EModal%2520title%253C%252Fh3%253E%250A%2520%2520%253Cp%253EModal%2520body%2520text%253C%252Fp%253E%250A%2520%2520%253Cfooter%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522modal_btn%2522%253EClose%253C%252Fbutton%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522modal_btn%2522%253ESave%2520changes%253C%252Fbutton%253E%250A%2520%2520%253C%252Ffooter%253E%250A%253C%252Fsection%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </main>
        </div>
    </div>

</body>

</html>