<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snackbar</title>
    <link rel="icon"type="image" href="/components/images/Chess.ico">
    <link rel="stylesheet" href="snackbar.css">
    <script src="https://kit.fontawesome.com/8ddd15368f.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="main_div">
        <nav class="header">
            <div class="name_heading">
                <h1>CheckMate-UI</h1>
                <a class="head_link" href="/index.html">Home</a>
                <a class="head_link" href="#">Documentation</a>
            </div>
            <div class="contact_links">
                <a class="head_link" href="https://github.com/NamrataRaikwar2002/component_libarary"><i class="fab fa-github"></i></a>
                <a class="head_link" href="https://www.linkedin.com/in/namrata-raikwar-727951224/"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </nav>
        <div class="drawer_component">
            <div class="component_list">
                <h2>Getting started</h2>
                <a href="/components/instalation/instalation.html" class="component_item">Installation</a>
                <h2>Components</h2>
                <a href="/components/avatar/avatar.html" class="component_item">Avatar</a>
                <a href="/components/alert/alert.html" class="component_item">Alert</a>
                <a href="/components/badge/badge.html" class="component_item">Badge</a>
                <a href="/components/button/button.html" class="component_item">Button</a>
                <a href="/components/card/card.html" class="component_item">Card</a>
                <a href="/components/image-component/image.html" class="component_item">Image</a>
                <a href="/components/input/input.html" class="component_item">Input</a>
                <a href="/components/list/list.html" class="component_item">List</a>
                <a href="/components/snackbar/snackbar.html" class="component_item">Snackbar</a>
                <a href="/components/grid/grid.html" class="component_item">Simplified Grid</a>
                <a href="/components/navbar/navbar.html" class="component_item">Navigation</a>
                <a href="/components/rating/rating.html" class="component_item">Rating</a>
                <a href="/components/utilities/utilities.html" class="component_item">Text Utilities</a>
                <a href="/components/modal/modal.html" class="component_item">Modal</a>
                <a href="/components/slider/slider.html" class="component_item">Slider</a>
                <a href="/components/hamburger/hamburger.html" class="component_item">Hamburger</a>
            </div>
            <div class="all_snackbar">
                <h1 class="components_heading">Snackbar</h1>
                <p>Snackbar provides the short information to the user about the process.It appear at the bottom of the
                    screen for a short time. Snackbar also called as <span>Toast</span>.</p>
                <h2>Basic Snackbar</h2>
                <p>It appear after the action of the user. For basic snackbar you can use class
                    <span>basic_snackbar</span>.</p>
                <div class="components_border">
                    <section class="basic_snackbar">
                        <p>Login successfully!</p>
                    </section>
                </div>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Csection%2520class%253D%2522basic_snackbar%2522%253E%250A%2520%2520%253Cp%253ELogin%2520successfully%21%253C%252Fp%253E%253C%252Fsection%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <h2>Snackbar with Button</h2>
                <p>For snackbar with button you can use class <span>btn_snackbar</span> for retry button
                    <span>retry_btn</span>.</p>
                <div class="components_border">
                    <section class="btn_snackbar">
                        <p>
                            Can't send photo. Retry in 5 seconds.
                        </p>
                        <button class="retry_btn">Retry</button>
                        <button class="cross"><i class="fas fa-times "></i></button>
                    </section>
                </div>
                <iframe class="carbon_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28219%2C219%2C244%2C1%29&t=seti&wt=none&l=javascript&width=601&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=37px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Csection%2520class%253D%2522btn_snackbar%2522%253E%250A%2520%253Cp%253ECan%27t%2520send%2520photo.%2520Retry%2520in%25205%2520seconds.%253C%252Fp%253E%250A%2520%253Cbutton%2520class%253D%2522retry_btn%2522%253ERetry%253C%252Fbutton%253E%250A%2520%253Cbutton%2520class%253D%2522cross%2522%253E%253Ci%2520class%253D%2522fas%2520fa-times%2520%2522%253E%253C%252Fi%253E%2509%2520%2520%2520%253C%252Fbutton%253E%253C%252Fsection%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </div>

        </div>
    </div>

</body>

</html>